.country-page {
    margin: 60px 0 200px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
}

@media screen and (max-width: 1297px) {

    .country-page {
        justify-content: center
    }
  }

  