

.choose-region {
    background-color: white;
    width: 12rem;
    padding: 0.8rem 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.153);
    
}
.choose-region.dark {
    background-color: #2B3844;
    color: white;
}

.dropdown-list.dark {
    background-color: #2B3844;
    color: white;
}

.dropdown-list {
    background-color: #FFFFFF;
    width: 12rem;
    padding: 0.8rem 1.3rem;
    list-style: none;
    text-decoration: none;
    list-style: none;
    border-radius: 4px;
    position: absolute;
    z-index: 100000;
    margin-top: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.153);

}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    font-weight: 600;
}

